
div {
    height: 5em;
    width: 5em;

    background-color: lightgray;
}

div:nth-child(1) {
    height: 10em;
    width: 10em;

    background-color: lightgray;
}

img {
    height: 15em;
    width: 10em;
}

/*
//    On/Off styles
*/

.yellow {
    background-color: yellow;
}
