
/*
    ------------------------------------------------------------------
    Main Page Divs:
*/

div.wrapper-main {
    width: 100em;
    height: 60em;
    margin: auto;

    box-shadow: 0px 0px 8px rgba(0,0,0,0.7);
    border-radius: 0.3em;
}

#time-holder {
    width: 20em;
    height: 2em;

    display: flex;
    justify-content: right;

    color: #ffffff;
}

div.holder-main {
    width: 90em;
    height: 25em;
    margin: auto;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    border-radius: 0.5em;
}

div.holder-main:hover {
    box-shadow: 0px 0px 8px rgba(0,0,0,0.7);
}

/*
    ------------------------------------------------------------------
    Divs that hold the info for Sortie and Nightwave info:
*/

div.holder-info {
    width: 30em;
    height: 20em;
    margin: auto;

    border: solid;
    border-color: black;
    border-width: 0.1em;

    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}

div.holder-title {
    width: 29.9em;
    height: 2em;
    text-align: center;
}

div.holder-sub-info {
    width: 29.9em;
    height: 2em;

    display: flex;
    justify-content: space-between;

    border-top: solid;
    border-bottom: solid;
    border-color: black;
    border-width: 0.1em;

    font-weight: bold;
}

div.holder-mission-data {
    width: 30em;
    height: 15em;

    text-align: center;
}

div.missions {
    width: 30em;
    height: 5em;
}

div.subtitle {
    width: 90em;
    height: 2em;
    margin: auto;

    text-align: center;
}

/*
    ------------------------------------------------------------------
    Divs that hold the News info:
*/

div.holder-news {
    width: 90em;
    height: 27em;
    margin: auto;

    margin-top: 2em;

    border-radius: 0.5em;
}

div.holder-news:hover {
    box-shadow: 0px 0px 8px rgba(0,0,0,0.7);
}

#news-column {
    width: 30em;
    height: 25em;
    float: left;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

div.news-img-holder {
    width: 20em;
    height: 10em;
}

#news-holder {
    width: 60em;
    height: 25em;
    float: left;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

div.news-info {
    width: 50em;
    height: 10em;

    text-align: center;

    border-radius: 20em;
    border: solid;
    border-color: black;
    border-width: 0.1em;
}

img.newsimageLink {
    width: 20em;
    height: 10em;

    border-radius: 1em;
}

img.newsimageLink:hover {
    opacity: 0.80;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}

/*
    ------------------------------------------------------------------
    Some additional for Sortie info and page headers:
*/

span.missiondescription {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}