body {
    background-color: #333;
}

a.breadcrumb-link-item {
    color: coral;
}

ol.breadcrumb {
    background-color: #333;
}

div.header-col {
    text-align: left;
}

div.carousel:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2.cover-heading {
    text-emphasis: bold;
    color: coral;
}

div.info-col {
    background-color: darkgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

hr.seperator {
    background-color: rgba(255, 255, 255, .5);
}

footer.footer {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

span.text-muted {
    font-size: x-small;
}

p.project-info {
    color: whitesmoke;
}