body {
    background-color: #333;
}

a.breadcrumb-link-item {
    color: coral;
}

ol.breadcrumb {
    background-color: #333;
}

h2.cover-heading {
    text-emphasis: bold;
    color: coral;
}

div.info-col {
    background-color: white;
}