body {
    background-color: #333;
}

a.breadcrumb-link-item {
    color: coral;
}

ol.breadcrumb {
    background-color: #333;
}

div.header-col {
    text-align: left;
}

h2.cover-heading {
    text-emphasis: bold;
    color: coral;
}

div.info-col {
    background-color: white;
}

hr.seperator {
    background-color: rgba(255, 255, 255, .5);
}

footer.footer {
    height: 2em;
    text-align: center;
}

span.text-muted {
    font-size: x-small;
}