div.main-div {
    left: 10%;
    top: 10%;
}

div.div-pasta {
    float: left;
    width: 450px;
    height: 200px;
}

div.div-form {
    float: left;

}

div.div-bottom {
    margin: 10%;
}