#q3a {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#q3b {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    justify-content: start;
}

#q3c {
    display: flex;
    flex-flow: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
}

#q3d {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
}

#q3d .special {
    align-self: baseline;
}

#q3d div:nth-child(3) {
    flex-grow: 2;
}

#q3e {
    display: flex;
    flex-flow: row-reverse;
    align-content: center;
    
}

#q3e div:nth-child(2){
    align-self: baseline;
}

#q3e div:nth-child(3) {
    align-self: end;
    justify-self: end;
}

#q3e div:nth-child(4) {
    align-self: end;
}

#q3e div:nth-child(5) {
    align-self: baseline;
    justify-self: left;
}

#q3e div:nth-child(6) {
    align-self: end;
    justify-self: right;
}